@import url('https://fonts.googleapis.com/css?family=Italianno|Pacifico|Source+Code+Pro');

body {
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

.gfont {
    font-family: 'Italianno', cursive;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.gfont1 {
    font-family: 'Pacifico', cursive;

}

.gfont2 {
    font-family: 'Source Code Pro', monospace;
}

footer * {
    margin: 0;
    padding: 0;
}